.bgfoto{
    background-image: url(./midia/signup.png);
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .background-image {
    background-image: url('sua-imagem.jpg'); /* Substitua 'sua-imagem.jpg' pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .signup-form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9); /* Fundo branco com leve transparência */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .signup-button {
    width: 50%;
    padding: 12px; /* Ajuste o padding para botões de tamanho médio */
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
  
  .signup-button:hover {
    background-color: #0056b3;
  }
  
  .signup-button:focus {
    outline: none;
  }